extends nav 

block cont
  div.d-flex.align-items-center.gap-2
    h2= community.name
    if user
      if user.communities.includes(community._id)
        a.btn.btn-danger.btn-sm(href=`/community/leave/${community.name}`) Leave
      else
        a.btn.btn-primary.btn-sm(href=`/community/join/${community.name}`) Join
  p= community.description
  hr

  each post in posts
    .card.mb-1
      .card-header.pb-1.pt-1
        .card-subtitle.mb-1.text-muted
          a(href=`/user/${post.user.username}`)= post.user.username
        .card-title 
          h6= post.title
      a.card-body(href=`/post/${post._id}`)
        .card-text 
          p= post.content
        