extends nav 
block cont
  h2= user.username

  h5 Communities
  .d-flex.gap-2
    each community in user.communities
      .border.rounded.p-1
        a(href=`/community/${community.name}`)= community.name
  br
  h5 Posts
  each post in posts
    .card.mb-1
      .card-header.pb-1.pt-1
        .card-title 
          h6= post.title
      a.card-body(href=`/post/${post._id}`)
        .card-text 
          p= post.content
